<%= provide :title, 'Home' %>

<div class="row">
  <div class="col-md-12">

    <% if GearSale.active_sale && GearSale.active_sale.status.present? %>
      <div class="alert alert-info">
        <b>Gear Sale Status: </b><%= GearSale.active_sale.status %>
      </div>
    <% end %>

    <div class="jumbotron">
      <h1 class="display-3">Welcome to SAM</h1>
      <hr class="my-4">
      <p class="lead">
        The online management system for Husky Running Club.
      </p>
      <p>
        <%= link_to 'Sign in with your UW NetID', new_user_session_path, class: 'btn btn-primary mt-1' %>
      </p>
    </div>
  </div>
</div>