<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="display-3">Husky Running Club Gear Orders</h1>
      <hr class="my-4">
      <p class="lead">You can use this website to order gear for Husky Running Club.</p>
    </div>
  </div>
</div>