<%= provide :title, 'HRC Gear Orders' %>

<div class="row">
  <div class="col-md-12">

    <% if GearSale.active_sale && GearSale.active_sale.status.present? %>
      <div class="alert alert-info">
        <%= GearSale.active_sale.status %>
      </div>
    <% end %>

    <div class="jumbotron">
      <h1 class="display-3">Husky Running Club Gear Orders</h1>
      <hr class="my-4">
      <p class="lead">
        You can use this website to order gear for Husky Running Club!
        <% if GearSale.active_sale && GearSale.active_sale.open? %>
          <br>
          <%= link_to 'Order Gear', new_order_path, class: 'btn btn-primary mt-3' %>
        <% else %>
        <% end %>
      </p>
    </div>
  </div>
</div>